body{
    text-align: center;
   background-color: maroon;
}
carousel-item{
    height:100px;
}
carousel-active{
    height:100px;
}
#work{
    height: 500px;
    background-color: #232323;
    color: bisque;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    align-content: center;
}
#nav{
   background-color: #232323;
}
#port{
    background-color:maroon;
    text-decoration: none;
}
#contact{
    border: 10px solid #232323;
    width: 600px;
    position: absolute;
    left: 400px;
}
h1{
    text-shadow: 2px 2px 2px black;
}
